<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chat - Customer Module</title>
<link type="text/css" rel="stylesheet" href="../static/css/home.css" />
</head>
 
<div class="chatbox">
    <div  class="menu">
        <p class="welcome"><b>Bienvenido al bot Elxocas </b></p>
        <div style="clear:both"></div>
    </div>
     
    <div  class="chatbox__messages">

    </div>
    
        <input name="usermsg" type="text" class="envio" />
        <button name="submitmsg" class="send__button" >Enviar</button>

</div>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
   </script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>